* {padding: 0; margin: 0; box-sizing: border-box;}
html, body{font-size: 14px; font-family: 'Source Sans Pro', sans-serif; font-weight: 400;}

.btn {padding: 10px 20px;}
.btn:focus{box-shadow: none;}
.file-btn{padding: .375rem 1.75rem;}
.form-control:focus, .form-control:active {box-shadow: none; border-color: #d0d6dc;}

.total-area {
    margin: 20px 20px;
    padding: 30px;
    height: 93vh;
    border-radius: 30px;
    box-shadow: 0px 5px 20px 5px rgb(183, 178, 189);
}

.hr-line {
    margin: 20px 10%;
    border: 1px solid #000;
    border-radius: 50%;
}

.nav-box, .play-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.audio-react-recorder canvas{
    width: 100%;
}

.music-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(0 0 0 / 10%);
    width: 600px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #4b7cd8;
    padding: 16px 16px;
}

.rec-status {
    padding: 5px;
}

.rec-status label{
    font-weight: bold;
    color: red;
}

.playlist{
    width: 100%;
    height: 300px;
    border-left: 1px solid #e4e4eb;
    border-top: 1px solid #e4e4eb;
    border-right: 1px solid #e4e4eb;
    padding: 5px;
}

.playlist-header{
    text-align: center;
    font-size: 20px;
    padding: 5px;
    border-bottom: 2px solid #e4e4eb;
    background-color: #198754;
    color: ghostwhite;
}

.items, .l-items { 
    border-bottom: 1px solid #e4e4eb;
    margin: 0;
    padding: 2px;
    cursor: pointer;
}

.active, .items:hover {
    background-color: #c9f8e2;
    color: #198754;
}